.grainy::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAV1BMVEUAAAD///+ZmZmqamp8fHzU1NTPz8/Z2dnv7+/r6+vw8PDU1NTV1dXY2Njr6+vk5OTa2trZ2dnY2Njf39/Y2Njt7e3p6enb29vf398uLi7ExMTc3Nzh4eFw/fF+AAAANHRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMDEyMzYGBVZhAAABMUlEQVQ4y2NgGAWjgYGBwSEh6BgsLCyMj4hA3DIyMrJCYGBgbEqqysrGxsYGhnZGB8rKSlJWVnZCV1dXU1FRUVBQUNDQ1JSUlJycnJycsQXFxqGhoaGhpaWloKSkpKenpyYcBfX19fX1/f39/f3+Avr6+vr6/v7+/v7+/f5+fn5+/v7+/v///8DAwODg4O/v7+zs7O3t7e/v7+vr6+3t7ff39+7u7u/v7+fn5+bm5urq6unp6ejp6enp6enq6ufo6Ojg4ODg4ODf39/T09Pb29vZ2dnZ2dnY2NjY2NjY2NjY2NjX19fX19fX19fX19fX19cDAwMAAAAjZJ+lH8z9XAAAAAElFTkSuQmCC");
  background-size: 150px 150px;
  opacity: 0.08;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 10;
}

.content-section {
  h2 {
    font-size: 3.5vmin;
  }
}