.slider {
  position: relative;
  width: 100vw;
  height: 85vh; /* 預設為全螢幕高度 */
  overflow: hidden;
}

@media (max-width: 1200px) {
  .slider {
    height: 85vh; /* 大型平板 */
  }
}

@media (max-width: 1000px) {
  .slider {
    height: 80vh; /* 一般平板 */
  }
}

@media (max-width: 768px) {
  .slider {
    height: 75vh; /* 手機 */
  }
}

@media (max-width: 480px) {
  .slider {
    height: 70vh; /* 更小的手機 */
  }
}

.slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider .img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider .img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持圖片比例，確保填滿 */
}

/* 底部計數器 */
.slider-counter {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  display: flex;
  gap: 0.5em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slider-counter > div {
  flex: 1;
}

.slider-counter p {
  line-height: 20px;
  color: var(--text);
}

.slider .counter {
  position: relative;
  top: 0px;
  will-change: transform;
}

/* 主要標題區塊 */
.slider .slider-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 64px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slider-title-wrapper {
  position: relative;
  width: 100%;
  top: 0px;
  text-align: center;
  will-change: transform;
}

.slider-title-wrapper p {
  font-size: 50px;
  line-height: 60px;
  color: var(--text);
  font-weight: 500;
}

@media (max-width: 900px) {
  .slider-title-wrapper p {
    font-size: 30px;
  }
}

/* 左右切換的指示器 */
.slider-indicators {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.slider-indicators p {
  position: relative;
  font-size: 40px;
  font-weight: 200;
  will-change: transform;
  color: var(--text);
}

/* 預覽縮圖 */
.slider-preview {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 30%;
  height: 50px;
  display: flex;
  gap: 0.5em;
}

.slider .preview {
  position: relative;
  flex: 1;
  cursor: pointer;
}

.slider .preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.slider .preview.active::after {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .slider-indicators {
    width: 90%;
  }

  .slider-preview {
    width: 90%;
    bottom: 2em;
    gap: 0.25em;
  }

  .slider-title-wrapper p {
    font-size: 28px;
  }

  .slider-counter {
    bottom: 10em;
  }
}
